.heading {
  font-size: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: beige;
}

.main {
  background-color: darkgray;
  padding-bottom: 40px;
}

.mainPages {
  background-color: darkgray;
  padding-bottom: 40px;
  padding-top: 40px;
}

.heading2 {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: beige;
  margin-top: -30px;
} 

.header {
  background-color: steelblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px 20px 100px;
  font-size: 1.3rem;
}

.header a {
  text-decoration: none;
  transition: .5s;
  color: beige;
}

.header a:hover {
  color: darkslateblue;
  transition: .5s;
}

.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  background-image: url(../images/heropic.png);
  padding: 20px 20px 20px 100px;
}

.homeContent {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
}

.homeParagraph {
  text-align: center;
  margin: 40px 250px 40px 210px;
  padding: 5px 60px 20px 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: beige;
  background-color: steelblue;
  border-radius: 10px;
}

.projectHeading {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: beige;
} 

.projectBtn {
  background-color: beige;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: .5s;
}

.projectBtn:hover {
  background-color: darkslateblue;
  transition: .5s;
}

.projectBtnTxt {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  color: steelblue;
  transition: .5s;
}

.projectBtnTxt:hover {
  transition: .5s;
  color: beige;
}

.aboutParagraph {
  text-align: left;
}

.contactBox {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 50px 30px 50px;
}

.contactLink {
  text-decoration: none;
  font-weight: 700;
  transition: .5s;
  color: beige;
}

.contactLink:hover {
  color: darkslateblue;
  transition: .5s;
}

.footer {
  background-color: steelblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  font-size: 1.3rem;
  text-align: center;
  color: beige;
  font-weight: 100;
}

@media screen and (max-width: 775px) {
  .hero {
    padding: 20px 20px 20px 20px;
  }

  .header {
    padding: 20px 20px 20px 20px;
  }
}

@media screen and (max-width: 605px) {
  .heading {
    font-size: 4rem;
  }

  .heading2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 465px) {
  .heading {
    font-size: 3.2rem;
  }

  .heading2 {
    font-size: 1rem;
  }
}
